{% extends 'base.html.twig' %}

{% block header %}{% endblock %}


{% block body %}


<style>
.masthead{
    background-image: url('assets/img/asiaBoat.jpg');
}
body {
  background:#dce1df;
  color: #4f585e;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
}

a.btn {
  background: #0096a0;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
	transition: all 0.1s 0s ease-out;
}

.no-touch a.btn:hover {
  background: lighten(#0096a0,2.5);
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
  background: darken(#0096a0,2.5);
  box-shadow: 0 1px 0px 0 rgba(255,255,255,0.25);
  transform: translate3d(0,1px,0);
  transition: all 0.025s 0s ease-out;
}

div.cards {
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
}

div.card {
  background: #ffffff;
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;
}
div.card  img {
    max-width: 300px;
  }
  
 div.card .card__image-holder {
    background: rgba(0,0,0,0.1);
    height: 0;
    padding-bottom: 75%;
  }

  div.card-title {
    background:#ffffff;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;
  }
    div.card-title a.toggle-info {
      border-radius: 32px;
      height: 32px;
      padding: 0;
      position: absolute;
      right: 15px;
      top: 10px;
      width: 32px;
    }  
    div.card-title a.toggle-info span {
        background: #ffffff;
        display: block;
        height: 2px;
        position: absolute;
        top: 16px;
        transition: all 0.15s 0s ease-out;
        width: 12px;
      }
      
    div.card-title a.toggle-info span.left {
        right: 14px;
        transform: rotate(45deg);
      }
    div.card-title a.toggle-info span.right {
        left: 14px;
        transform: rotate(-45deg);
    }
    
    div.cards h2 {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.05em;
      margin: 0;
      padding: 0;
    }
     div.cards h2 small {
        display: block;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.025em;
      }
    
  div.card-description {
    padding: 0 15px 10px;
    position: relative;
    font-size: 14px;
  }

  div.card-actions {
  	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.075);
    padding: 10px 15px 20px;
    text-align: center;
  }
  
  div.card-flap {
    background: darken(#ffffff,15);
    position: absolute;
    width: 100%;
    transform-origin: top;
    transform: rotateX(-90deg);
  }
  div.flap1 {
    transition: all 0.3s 0.3s ease-out;
    z-index: -1;
  }
  div.flap2 {
    transition: all 0.3s 0s ease-out;
    z-index: -2;
  }


div.cards.showing div.card {
    cursor: pointer;
    opacity: 0.6;
    transform: scale(0.88);
  }


.no-touch  div.cards.showing div.card:hover {
    opacity: 0.94;
    transform: scale(0.92);
  }


div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;
}
div.card.show  div.card-title a.toggle-info {
      background:  #ff6666 !important;
     }
     div.card.show  div.card-title a.toggle-info span {
        top: 15px;
      }
     div.card.show  div.card-title a.toggle-info span.left {
        right: 10px;
      }
     div.card.show  div.card-title a.toggle-info span.right {
        left: 10px;
      }
  
  div.card-flap {
    background: #ffffff;
    transform: rotateX(0deg);
  }
  div.flap1 {
    transition: all 0.3s 0s ease-out;
  }
  div.flap2 {
    transition: all 0.3s 0.2s ease-out;
  }

.map-container-9,
.map-container-10,
.map-container-11 {
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-9 iframe,
.map-container-10 iframe,
.map-container-11 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
</style>

<div class="cards">
 {% for key , listTrips in listTrips %}
  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="{{ asset('/dossierFichiers/' ~ listTrips.image)}}" alt="{{ listTrips.destination }}" style="width:300px; hight:300px;" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
          {{ listTrips.destination }}
          <small><a href="">
                            <img alt="Feefo logo" border="0" src="https://api.feefo.com/api/logo?merchantidentifier=explore&amp;template=Imported-Reviews-200x15.png&amp;vendorref=NAW&amp;since=all" title="Our customer Feefo rating">
               </a> </small>
      </h2>
      <h5 id ="heberge{{ listTrips.id }}">{{ listTrips.tripHebergement.type }}</h5>
      <div><i id="marker{{ listTrips.id }}" class="fas fa-map-marker-alt fa-2x" style="color:red; display: inline-block;" data-toggle="modal" data-target="#Map{{ listTrips.id }}"></i><h6 id="adress{{ listTrips.id }}" style="display: inline-block;">  {{ listTrips.tripHebergement.adress }} </h6></div>
      <h6> Departure Date: {{ listTrips.dateDebut|date("m/d/Y") }}</h6>
      <h6> Return Date: {{ listTrips.dateFin|date("m/d/Y") }}</h6>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
       {{ listTrips.description }}
      </div>
      
      {# <h6><i class="fas fa-users"></i> {{ listTrips.tripGroupe.nom }}</h6> #}
      <div class="card-flap flap2">
              
        <div class="card-actions">
          {# <a href="#" class="btnCard" data-toggle="modal" data-target="#Modal{{ listTrips.id }}">Read more</a> #}
          <a href="" id="btn-edit" class="btn" data-toggle="modal" data-target="#join{{ listTrips.id }}"><i class="fas fa-users"></i> Join </a> 
          <a href="#" class="btn" data-toggle="modal" data-target="#activities{{ listTrips.id }}">Activities</a>
        </div>
      </div>
    </div>
  </div>

 {% endfor %}
</div>

 <!-- Delete Modal-->
{% for key , listTrips in listTrips %}
 
  <div class="modal fade" id="join{{ listTrips.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Join Groupe Trip?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
        <h3>Groupe : {{ listTrips.tripGroupe.nom }}</h3>
        <p>{{ listTrips.tripGroupe.description }}</p>
        Select "Join" below if you are sure to Join Groupe Trip.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/join/groupe/{{ listTrips.tripGroupe.id }}">Join</a>
        </div>
      </div>
    </div>
  </div>
 {% endfor %} 

{% for key , listTrips in listTrips %}
<!-- Modal: Leaflet Map -->
<div class="modal fade" id="Map{{ listTrips.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <!--Content-->
    <div class="modal-content">

      <!--Body-->
      <div class="modal-body mb-0 p-0">

        <!--Google map-->
        <div id="map{{ listTrips.id }}"  style="height: 600px">
          
        </div>

      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">

        <button type="button" class="btn btn-info btn-md">Get location <i class="fas fa-map-marker-alt ml-1"></i></button>
        <button type="button" class="btn btn-outline-info btn-md" data-dismiss="modal">Close <i class="fas fa-times ml-1"></i></button>

      </div>

    </div>
    <!--/.Content-->

  </div>
</div>




 <script>

var mymap = L.map('map'+{{ listTrips.id }}).setView([50.8466,4.3528], 12);


L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: ' <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(mymap); 
 {# var marker = L.marker([50.9005193, 4.3190698]).addTo(mymap); 
marker.bindPopup("<br> Interface3 <a href ='https://www.interface3.be/'>www.interface3.be</a>").openPopup(); #}
var elm  = document.getElementById('marker'+{{ listTrips.id }});

console.log(elm);
 elm.addEventListener("click", (event) => {
  console.log(event.target.id);
        $.ajax({
            url: "https://nominatim.openstreetmap.org/search", // URL de Nominatim
            type: 'get', // Requête de type GET
            data: "q= "+ document.getElementById('adress'+{{ listTrips.id }}).innerText +"&format=json&addressdetails=1&limit=1&polygon_svg=1" // Données envoyées (q -> adresse complète, format -> format attendu pour la réponse, limit -> nombre de réponses attendu, polygon_svg -> fournit les données de polygone de la réponse en svg)
        //console.log({{ listTrips.tripHebergement.adress }});
        }).done(function (response) {
            if(response !== ""){
                userlat = response[0]['lat'];
                userlon = response[0]['lon'];
                console.log(userlon);
                console.log(userlat);
                var marker = L.marker([userlat,userlon]).addTo(mymap);
                marker.bindPopup("<b>"+ document.getElementById('heberge'+{{ listTrips.id }}).innerText +"</b><br>"+ document.getElementById('adress'+{{ listTrips.id }}).innerText +"<br> ").openPopup();
               
        }                
       }).fail(function (error) {
            alert(error); 
        });      
 
});


 </script>

 {% endfor %} 

{% endblock %}